/* General Styles*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    }
  
  main {
    flex: 1 0 auto;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
  }
  
  a {
    color:#98a959;;
  }
  
  h3, h4, h5, h6 {
    color:#98a959;
  }
  
  h6 {
    font-weight: 900;
    text-transform: uppercase;
  }
  
  a:hover {
    text-decoration:none;
  }
  
  .margin-30 {
    margin:30px auto;
  }
  
  .margin-top-20 {
    margin:20px auto 0;
  }
  
  .material-icons {
    vertical-align: middle;
  }
  
  /* Form Styling */
  ::-webkit-input-placeholder {
    color: black;
  }
  
  :-ms-input-placeholder { 
    color: black;
  }
  
  ::placeholder {
    color: black;
  }
  
  .chip {
    background-color: #f9f9f9;
  }
  
  input.valid:not([type]), input.valid:not([type]):focus, input[type="text"].valid:not(.browser-default), input[type="text"].valid:not(.browser-default):focus, input[type="password"].valid:not(.browser-default), input[type="password"].valid:not(.browser-default):focus, input[type="email"].valid:not(.browser-default), input[type="email"].valid:not(.browser-default):focus, input[type="url"].valid:not(.browser-default), input[type="url"].valid:not(.browser-default):focus, input[type="time"].valid:not(.browser-default), input[type="time"].valid:not(.browser-default):focus, input[type="date"].valid:not(.browser-default), input[type="date"].valid:not(.browser-default):focus, input[type="datetime"].valid:not(.browser-default), input[type="datetime"].valid:not(.browser-default):focus, input[type="datetime-local"].valid:not(.browser-default), input[type="datetime-local"].valid:not(.browser-default):focus, input[type="tel"].valid:not(.browser-default), input[type="tel"].valid:not(.browser-default):focus, input[type="number"].valid:not(.browser-default), input[type="number"].valid:not(.browser-default):focus, input[type="search"].valid:not(.browser-default), input[type="search"].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
      border-bottom: 1px solid #98a959;
      -webkit-box-shadow: 0 1px 0 0 #98a959;
      box-shadow: 0 1px 0 0 #98a959;
  }
  
  .add-recipe-name, .add-recipe-prep, .add-recipe-ingredients,.add-recipe-tags {
    background: rgba(182,183,188,0.05);
    border-radius:2px;
    padding:10px 10px 20px;
  }
  
  .add-recipe-category, .add-recipe-image,.add-recipe-method,.add-recipe-featured {
    background: rgba(250,230,131,0.2);
    border-radius:2px;
    padding:10px 10px 20px;
  }
  
  .switch label input[type="checkbox"]:checked + .lever::after {
      background-color: #f3d63d;
  }
  
  .switch label input[type="checkbox"]:checked + .lever {
      background-color: #fae683;
  }
  
  .add-recipe-button {
    background-color: #98a959;
  }
  
  .add-recipe-button:hover, .add-recipe-button:hover {
      background-color: #f3d63d;
  }
  
  .delete_recipe {
    border:0;
    background:none;
    color:#f55d3e;
  }
  
  /*Homepage Slider Styling */
  .uk-overlay-default {
      background: rgba(152,169,89,.8);
  }
  
  /*Cards Styling*/
  .card .card-title {
      font-size: 14px;
  }
  .card-action {
    background: #98a959 !important;
  }
  
  .card-action:hover {
    background: #f3d63d !important;
  }
  
  .card-action a {
    color:#fff !important;
  }
  
  .card-image {
    max-height: 40% !important;
  }
  
  /* Homepage All Recipes Button */
  .all-recipes {
    background-color:#98a959;
  }
  .all-recipes:hover, .all-recipes:focus {
    background-color:#f3d63d;
    color:#ffffff;
  }
  
  /*Homepage Categories Secion*/
  .homepage-categories {
    background-color:rgba(152,169,89,0.05);
    padding:30px 5px;
  }
  
  .homepage-categories a {
    color:#f3d63d;
  }
  
  /*Right Line Headers */
  .fancy-right {
    line-height: 0.1;
    text-align: left;
    margin-bottom:30px;
  }
  .fancy-right span {
    display: inline-block;
    position: relative;  
  }
  .fancy-right span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #98a959;
    top: 0;
    width: 80%;
  }
  
  .fancy-right span:after {
    left: 100%;
    margin-left: 15px;
  }
  
  
  /*Homepage Right Headers*/
  .fancy {
    line-height: 0.5;
    text-align: center;
  }
  .fancy span {
    display: inline-block;
    position: relative;  
  }
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 2px solid #98a959;
    top: 0;
    width: 30px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }
  /* Navigation */
  nav ul a{
    text-transform: uppercase;
    color:#78766a;
  }
  
  .dropdown-content{
    width: max-content !important;
    height:auto !important;
  }
  
  nav {
    background-color:#fff;
    height: 90px;
    line-height: 90px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(183,182,181,0.14),0 1px 5px 0 rgba(183,182,181,0.12),0 3px 1px -2px rgba(183,182,181,.2);
    box-shadow: -1px 2px 2px 0 rgba(183,182,181,0.14),0 1px 5px 0 rgba(183,182,181,0.12),0 3px 1px -2px rgba(183,182,181,0.2);
  }
  
  nav ul a:hover {
    background-color: rgba(250,230,131,0.5);
  }
  
  .dropdown-content li > a, .dropdown-content li > span {
    color: #78766a;
    text-transform: capitalize;
    font-size:14px;
    letter-spacing: 1px;
  }
  
  .active {
    background-color: #ffffff!important;
  }
  
  .nav-wrapper i {
    height: 90px !important;
    line-height: 90px !important;
  }
  
  .brand-logo img {
    padding:5px;
  }
  
  nav .button-collapse {
    color: #78766a;
  }
  
  .username-nav {
    color: #78766a !important;
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    cursor: none !important;
  }
  
  /*Header Styles */
  .flash-message {
    margin-top:20px;
    color: #98a959;
    font-weight: 700;
  }
  
  /* Search Overlay */
  
  #search-btn{
    padding: 2px 10px;
    border-radius: 2px;
    color: #78766a;
  }
  
  #search-btn:hover{
    background-color: rgba(152,169,89,0.8);
    cursor: pointer;
    color:#ffffff;
  }
  
  #search-overlay{
    display:none;
  }
  
  .block {
    position: fixed;
    top: 0;
    right: 0;
    bottom:0 ;
    left: 0;
    overflow: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    border: #a0a0a0 solid 1px;
    margin: 0;
  }
  
  .block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: 0;
  }
  
  .centered {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 10px 15px;
    color: #FFF;
    border: none;
    background: transparent;
  }
  
  #search-box {
    position: relative;
    width: 100%;
    margin: 0;
  }
  
  #search-form {
    height: 4em;
    border: 1px solid #999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
  }
  
  #search-text {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
  }
  
  #search-box input[type="text"] {
    width: 90%;
    padding: 20px;
    color: #333;
    outline: none;
    font-size: 1.4em;
    padding:5px;
  }
  
  #search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 3.8em;
    width: 100px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #98a959;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  #close-btn{
    position: fixed;
    top: 1em;
    right: 1em;
    color:#ffffff;
  }
  #close-btn:hover{
    color: #777;
    cursor: pointer;
  }
  
  /*Add Recipe Styling */
  
  #remove_ingredient.btn-floating, #remove_method_step.btn-floating {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 20%;
    margin-top: 1.5em;
  }
  
  #add_ingredient.btn, #add_method_step.btn {
    background-color: #f3d63d;
  }
  
  #remove_ingredient.btn-floating, #remove_method_step.btn-floating {
    background-color: #78766a;
  }
  
  #add_ingredient.btn i, #remove_ingredient.btn-floating i, 
  #add_method_step.btn i, #remove_method_step.btn-floating i {
    font-size: 1.4rem;
    line-height: 30px;
  }
  
  #ingredients.input-field {
    margin-top:0;
  }
  
  /*Login/Register Page Styling */
  
  * {
    box-sizing: border-box;
  }
   
  *:focus {
    outline: none;
  }
  
  .login {
    margin: 20px auto;
    width: 300px;
  }
  
  .login-screen {
    background-color: #98a959;
    padding: 20px;
    border-radius: 5px
  }
   
  .app-title {
    text-align: center;
    color: #fff;
  }
  
  .app-title h1 {
    color:#ffffff;
  }
   
  .login-form {
    text-align: center;
  }
  .control-group {
    margin-bottom: 10px;
  }
   
  .login input {
    text-align: center;
    background-color: #ECF0F1;
    border-bottom: 2px solid #fff !important;
    color:#fff !important;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    font-weight: 800;
    transition: border .5s;
  }
   
  .login input:focus {
    border: 2px solid #fff !important;
    box-shadow: none;
  }
   
  .login .btn {
    border: 2px solid transparent;
    background: #f3d63d;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
    border:none !important;
  }
   
  .login .btn:hover {
    background-color: #fae683;
  }
   
  .login .login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
  }
  
  .login .register {
    text-align:center;
    color:#fff;
  }
  
  .login .register a {
    color:#f3d63d;
    font-weight:800;
    letter-spacing: 1px;
  }
  
  .message {
    text-transform: capitalize;
  }
  
  /* Styling for Ratings */
  .star-ratings-sprite {
    background: url("/static/images/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 20px auto;
  }
  .star-ratings-sprite-rating {
    background: url("/static/images/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
  }
  
  .rate.btn {
    border: 1px solid transparent;
    background: #f3d63d;
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    line-height: 18px;
    padding: 2px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 70px;
    margin: 0 auto;
    border:none !important;
  }
   
  .rate.btn:hover {
    background-color: #fae683;
  }
  
  /*Recipe Page Styling */
  
  .recipe-details {
    background: rgba(152,169,89,0.1);
    padding: 30px 10px;
    border-radius: 2px;
  }
  
  .recipe-details .material-icons {
    color:#98a959;
  }
  
  /* Sharing Buttons */
  .resp-sharing-button__link,
  .resp-sharing-button__icon {
    display: inline-block
  }
  
  .resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
  }
  
  .resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
  }
  
  .resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
  }
  
  .resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
  }
  
  /* Non solid icons get a stroke */
  .resp-sharing-button__icon {
    stroke: #fff;
    fill: none
  }
  
  /* Solid icons get a fill */
  .resp-sharing-button__icon--solid,
  .resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
  }
  
  .resp-sharing-button--twitter {
    background-color: #55acee
  }
  
  .resp-sharing-button--twitter:hover {
    background-color: #2795e9
  }
  
  .resp-sharing-button--pinterest {
    background-color: #bd081c
  }
  
  .resp-sharing-button--pinterest:hover {
    background-color: #8c0615
  }
  
  .resp-sharing-button--facebook {
    background-color: #3b5998
  }
  
  .resp-sharing-button--facebook:hover {
    background-color: #2d4373
  }
  
  .resp-sharing-button--email {
    background-color: #777
  }
  
  .resp-sharing-button--email:hover {
    background-color: #5e5e5e
  }
  
  .resp-sharing-button--whatsapp {
    background-color: #25D366
  }
  
  .resp-sharing-button--whatsapp:hover {
    background-color: #1da851
  }
  
  .resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
  }
  
  .resp-sharing-button--facebook:hover,
  .resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
  }
  
  .resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
  }
  
  .resp-sharing-button--twitter:hover,
  .resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
  }
  
  
  .resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
  }
  
  .resp-sharing-button--email:hover,
  .resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
  }
  
  .resp-sharing-button--pinterest {
    background-color: #bd081c;
    border-color: #bd081c;
  }
  
  .resp-sharing-button--pinterest:hover,
  .resp-sharing-button--pinterest:active {
    background-color: #8c0615;
    border-color: #8c0615;
  }
  
  .resp-sharing-button--whatsapp {
    background-color: #25D366;
    border-color: #25D366;
  }
  
  .resp-sharing-button--whatsapp:hover,
  .resp-sharing-button--whatsapp:active {
    background-color: #1DA851;
    border-color: #1DA851;
  }
  
  
  /* Footer */
  .page-footer {
    background-color: #b7b6bc;
  }
  
  .footer-copyright {
    background-color: #78766a !important;
  }
  
  
  /* Tablet Specific CSS */
  @media only screen and (max-width: 801px) {
  .nav-wrapper i {
    height: 40px !important;
    line-height: 40px !important;
  }
  .side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    padding:0 32px;
  }
  #search-form {
    width:280px;
  }
  
  #search-text {
    width: 234px;
    padding: 5px;
  }
  
  #search-button {
    width:30px;
    position:relative;
    padding:2px;
  }
  
  }
  
  /* Mobile Specific CSS */
  @media only screen and (max-width: 468px) {
  h5 {
    font-size: 1.2rem;
  }
  
  .nav-wrapper i {
    height: 40px !important;
    line-height: 40px !important;
  }
  
  .side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    padding:0 32px;
  }
  
  #search-form {
    width:280px;
  }
  
  #search-text {
    width: 234px;
    padding: 5px;
  }
  
  #search-button {
    width:30px;
    position:relative;
    padding:2px;
  }
  
  .btn, .btn-large, .btn-flat {
    padding: 0 1rem;
  }
  
  .fancy-right span:after {
    width: 20%;
  } 
