/* Materilize overwrite */

.material-icons {
    height: 0px !important;
    line-height: 30px !important;
}

.top-section-form {
    background-image: url(/static/images/three_burgers.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
}

.title-form,
.subtitle-form {
    text-align: center;
    text-transform: capitalize;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    font-weight: 700;
}


.title-form {
    grid-area: header;
    margin-top: 2.5rem;
    font-size: 2rem;
}

.subtitle-form {
    font-size: 1rem;
}

/* =================
   main-content section 
   ================= */

.main-content {
    padding-top: 1em;
}

.main-content-forms {
    padding: 0em;
}

.container {
    max-width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

/* =================
   Login and register
   ================= */
.form-register {
    height: 62vh;
}

.form-group {
    margin-bottom: 1rem;
}

.legend-text {
    font-weight: 700;
    text-transform: capitalize;
    color: var(--black);
}

.group {
    padding-bottom: .9rem;
}

.btn-group {
    margin: 0 auto;
}

.btn-forms {
    display: inline-block;
    background-color: transparent;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.btn-sign-up,
.sign-in-link,
.link {
    color: rgb(121, 121, 121);
    text-decoration: none;
    font-weight: 900;
}

.btn-sign-up:hover,
.btn-sign-up:focus,
.sign-in-link:hover,
.sign-in-link:focus,
::placeholder {
    color: var(--black);
}

.bottom-text {
    margin-top: .5rem;
    color: rgb(121, 121, 121);
    font-size: 0.75rem;
    text-transform: capitalize;
}


.form-title {
    margin-top: 5rem;
}

.form-label {
    font-size: 0.8rem;
    font-weight: 400;
}

.active {
    color: black !important;
    border-bottom: none !important;
}

.login-input {
    height: 2rem !important;
    font-size: 1rem !important;
    margin: 0px 0px 3px !important;
    text-align: center !important;
    width: 70% !important;
}

.login-label {
    font-family: 'Ubuntu', sans-serif;
    font-size: .8rem;
    text-transform: capitalize;
    color: var(--black);
}

input {
    width: 95% !important;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 1rem !important;
}

label:focus,
label:active,
input:focus,
input:active {
    border-bottom: 1.5px solid var(--black) !important;
    box-shadow: none !important;
    color: black !important;
}

/* =================
   add_recipe.html
   ================= */
.recipe-grid {
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    margin: 0 auto;
    padding: 0rem 5%;
    grid-template-areas: 
    "recipe-name        recipe-name"
    "recipe-input       recipe-input"
    "description        description"
    "description-input  description-input"
    "category           allergens"
    "category-options   allergens-options"
    "prep-time          cook-time"
    "prep-time-input    cook-time-input"
    "servs              difficulty"
    "servs-input        difficulty-option"
    "recipe             recipe"
    "recipe-image       recipe-image"
    "ingredients-rec    ingredients-rec"
    "ingredients-input  ingredients-input"
    "ingredients-btn    ingredients-btn"
    "method             method"
    "method-input       method-input"
    "method-btn         method-btn"
    "recipe-tags        recipe-tags"
    "recipe-tags-input  recipe-tags-input"
    "switch             switch"
    "btn-recipe      btn-recipe";
}

.recipe-name        {grid-area: recipe-name;}
.recipe-input       {grid-area: recipe-input;}
.description        {grid-area: description;}
.description-input  {grid-area: description-input;}
.category           {grid-area: category;}
.category-options   {grid-area: category-options;}
.allergens          {grid-area: allergens;}
.allergens-options  {grid-area: allergens-options;}
.prep-time          {grid-area: prep-time;}
.prep-time-input    {grid-area: prep-time-input;}
.cook-time          {grid-area: cook-time;}
.cook-time-input    {grid-area: cook-time-input;}
.servs              {grid-area: servs;}
.servs-input        {grid-area: servs-input;}
.difficulty         {grid-area: difficulty;}
.difficulty-option  {grid-area: difficulty-option;}
.recipe             {grid-area: recipe;}
.recipe-image       {grid-area: recipe-image;}
.ingredients-rec    {grid-area: ingredients-rec;}
.ingredients-input  {grid-area: ingredients-input;}
.ingredients-btn    {grid-area: ingredients-btn;}
.method             {grid-area: method;}
.method-input       {grid-area: method-input;}
.method-btn         {grid-area: method-btn;}
.recipe-tags        {grid-area: recipe-tags;}
.recipe-tags-input  {grid-area: recipe-tags-input;}
.switch             {grid-area: switch;}
.switch-lever       {grid-area: switch-lever;}
.btn-recipe         {grid-area: btn-recipe;}

.recipe-name,
.description,
.category, 
.allergens, 
.prep-time, 
.cook-time,
.servs,  
.difficulty, 
.recipe,
.ingredients-rec, 
.method, 
.recipe-tags,
.switch,
.btn-recipe {
    background-color: #e79b508f; padding: .4rem .8rem; border-radius: 3px;
} 

/* Checkbox in options 
.caret {
    right: 100px !important;
}*/

.chips.focus {
    border-bottom: 2px solid #e79b50 !important;
    box-shadow: 0 1px 0 0 #e79b50 !important;
}


[type="checkbox"]:checked + span:not(.lever)::before,
.dropdown-content li > a, .dropdown-content li > span {
    border-bottom: 2px solid #e79b50 !important;
    color: var(--black) !important;
}

/* Login and register forms */

.input.valid[type="text"]:not(.browser-default) {
    border-bottom: 1px solid #e79b50 !important;
    -webkit-box-shadow: 0 1px 0 0 #e79b50 !important;
    box-shadow: 0 1px 0 0 #e79b50 !important;
}

.input-wrapper {
    width: 100%;
    border-bottom: 3px solid var(--gray);
    padding-bottom: 1rem;
}

.recipe-label {
    text-transform: uppercase;
    font-size: 2rem;
}

.btn-add,
.btn-recipe {
    color: var(--black) !important;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5px;
}

#add_ingredient.btn, 
#add_method_step.btn,
.btn-recipe {
    background-color: #e79b50 !important;
    width: 25%;
    font-size: 1rem;
}

.btn-recipe {
    justify-self: center;
    padding: 0 2rem;
    margin-top: 3rem;
}

.icon-color {
    background-color: #df2626 !important;
    border-radius: 3px !important;
}

.slider-header {
    padding-bottom: .5rem;
}

.switch label input[type="checkbox"]:checked + .lever {
    background-color:  rgba(119, 119, 119, 0.377);
}

.switch label input[type="checkbox"]:checked + .lever::after {
    background-color: #e79b50 !important;
}

.switch label .lever::before {
    background-color: #e79b50 !important;
}

.center {
    padding-top: 3rem;
}









/* =================
   media queries
   ================= */

@media (max-width: 765px) { 
    #add_ingredient.btn, #add_method_step.btn, .btn-recipe {
        width: 170px;
    }

    .recipe-input,
    .description-input,
    .category-options,
    .allergens-options,
    .prep-time-input,
    .cook-time-input,
    .servs-input,
    .difficulty-option,
    .recipe-image,
    .ingredients-input,
    .method-input,
    .recipe-tags-input {
        font-size: .6rem !important;
    }
}

@media (max-width: 372px) {

    body {
        font-size: 0.8rem;
    }

    .uname-label,
    .email-label,
    .pw-label,
    .conf-pw-label {
        justify-items: center;
    }

    .bottom-text {
        color:var(--yellow);
        font-size: 0.8rem;
    }

    .sign-in-link {
        color:var(--yellow);
    }

    .sign-in-link:hover,
    .sign-in-link:focus {
        color: black;
    }

}
