/*  Fonts
    -----
    font-family: 'Lora', serif;             headers
    font-family: 'Ubuntu', sans-serif;      Body & buttons
*/

/* compound selectors */

:root {
    --yellow: #FFE600;
    --black: #464646;
    --white: #dcdace;
    --gray: #848484;
    --grayOpacity: #8484848a;
    --dark-gray: #bebebe4d;
    --orange: #e79b508f;
}

.gray {
    color: var(--gray) !important;
}

body {
    scroll-behavior: smooth;
    background-image: url(/static/images/background_image.png);
}

* {
    box-sizing: border-box;     /* to remove all padding and margings */
}

body {
    margin: 0;                  /* to not touch the sides */
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;            /* 1rem = 16 px (default) */
    font-weight: 400;
    line-height: 1.6;           /* Its easier to read */
}

ul {
    margin-top: 0;
}

a {
    color: var(--orange);
}

.container {
    width: 85% !important;
}
.row {
    margin-bottom: 0 !important;
}

/* ==================
    Typography
===================== */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lora', serif;
    font-weight: 400;
    margin-top: 0;
}

h5 {
    text-transform: capitalize !important;
}

h6 {
    margin: .7666666667rem 0 0rem 0;
    font-weight: 900;
    text-transform: uppercase;
}

strong {
    font-weight: 900;
}

/* ==================
    Navigation
===================== */
nav {
    background-color: #0d0c0ce6;
    background-image: url(/static/images/background_image.png);
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 35px !important;
}

.dropdown-content {
    width: max-content !important;
    height:auto !important;
    top: -40px;
}


.dropdown-content li > a, 
.dropdown-content li > span {
    color: var(--black) !important;
    text-transform: capitalize !important;
    background-color: #fafaee !important;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 900 !important;
}

.line-height {
    line-height: 35px !important;
}

.username-nav {
    color: var(--black) !important;
    background-color: #fafaee;
    text-align: center !important;
    padding: 14px 16px;
}

.nav-link,
.nav-link-mobile {
    text-decoration: none;
    text-transform: capitalize !important;
    font-family: 'Ubuntu', sans-serif;
    color: var(--black);
    background-color: transparent !important;
}

.nav-link:hover,
.nav-link:focus,
.nav-link-mobile:hover,
.nav-link-mobile:focus {
    color: var(--black);
}

[type="checkbox"]:checked + span:not(.lever)::before {
    color: var(--black) !important;
}



.mobile-color {
    color: var(--black);
}

nav ul a {
    padding: 0 14px;
}

nav ul a:hover {
    background-color: rgb(232, 232, 223);
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

nav .brand-logo.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.divider {
    background-color: var(--black);
}

/* Navigation smaller screens*/

.sidenav{
    background-image: url(/static/images/background_image.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    object-fit: cover;
}

.sidenav-img {
    width: 100%;
}

.sidenav li > a {
    color: var(--black);
    font-size: 1rem;
    font-weight: 900 !important;
}

.sm {
    text-align: center;
}

.background {
    height: 120px;
}

.hamburger-lists {
    padding-top: 234px;
}

/* ==========
    Buttons 
============= */
.btn-margin {
    margin: 2em !important;
}

.bts {
    line-height: 0 !important;
}

.btn-small {
    background-color: var(--orange) !important;
    color: var(--black);
}

.btn:hover,
.btn-small:hover {
    background-color: var(--black) !important;
    color: var(--white);
}

.chip {
    margin-bottom: 15px;
    margin-right: 15px;
}

.chip:hover {
    background-color: var(--gray) !important;
}

.chip a:hover {
    color: var(--white);
}

.blury {
    background-color: var(--grayOpacity) !important;
}

.blury:hover {
    background-color: var(--black) !important;
}

.btn-floating {
    background-color: #e79b50;
    border-radius: 5px !important;
}

.btn-floating:hover {
    background-color: var(--black);
}

.btn-floating i {
    width: inherit;
    display: block !important;
    text-align: center;
    color: var(--white) !important;
    font-size: 1.9rem;
    line-height: 40px;
}

.btn-group {
    margin: 0 auto;
}

.btn-sign-up,
.sign-in-link,
.link {
    color: rgb(121, 121, 121);
    text-decoration: none;
    font-weight: 900;
}

.btn-sign-up:hover,
.btn-sign-up:focus,
.sign-in-link:hover,
.sign-in-link:focus,
::placeholder {
    color: var(--black);
}

.btn-form {
    color: var(--black) !important;
    padding: 0 2rem;
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5px;
    justify-self: center;
}

.btn-form {
    background-color: #e79b50 !important;
    font-size: 1rem;
}

/* ======================
    Login/Register forms 
========================= */
.main-content-forms {
    padding-top: 15%;
    height: 100vh;
}

.container-form {
    min-width: 180px;
    max-width: 350px;
    margin: 0 auto;
}

.log-reg-title {
    color: var(--gray);
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
}

.form-group {
    margin-bottom: 1rem;
}

.legend-text {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--gray);
}

.login-label {
    font-family: 'Ubuntu', sans-serif;
    font-size: .8rem;
    text-transform: capitalize;
    color: var(--black);
}

.login-input {
    height: 2rem !important;
    font-size: 1rem !important;
    margin: 0px 0px 3px !important
}
input:focus,
input:active {
    border-bottom: 1.5px solid var(--black) !important;
    box-shadow: none !important;
    color: black !important;
}

.bottom-text {
    margin-top: .5rem;
    color: rgb(121, 121, 121);
    font-size: 0.75rem;
    text-transform: capitalize;
}

/* =============
    Home.html 
================ */
/* <!-- top image --> */
.top-image-home {
    background-image: url(/static/images/three_burgers.jpg);
    border-radius: 25px 25px 0px 0px;
    background-size: cover;
    background-position: center top;
    height: 55vh;
    width: 85%;
}

/* <!-- text section home --> */

.background-light-gray {
    background: rgb(190, 190, 190, 0.3);
    color: var(--black);
}

.title-home {
    padding-top: .4em;
    font-size: 3rem;
}

.subtitle-home {
    font-size: 2rem;
}

.title-home,
.subtitle-home {
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1rem;
}

.search-background {
    background: var(--gray);
    border-radius: 50px;
}

.character-counter {
    font-size: 0px !important;
}

.radius {
    border-radius: 50px !important;
}

input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default) {
    padding: 0 10px;
    border-radius: 0px;
    width: 90%;
}

.btn-small {
    color: var(--black);
    background-color: var(--orange);
    border-radius: 50px;
    align-items: center;
}

.no-margin {
    margin: 0 !important;
    padding: 0 !important;

}

.tags-whitespace {
    margin: 2em;
}

.tags-header-whitespace {
    margin-bottom: 1em;
}

.uppercase {
    text-transform: uppercase;
    color: var(--black);
    margin-top: 0;
}

/* =================================
    Random_meal.html from themealDB 
==================================== */
.random-meal-body{
    min-height: calc(100vh - 215px);
}

/* <!-- top image --> */
.top-image-random-meal{
    background-image: url(/static/images/random_meal.jpg);
    background-size: cover;
    color: #fff;
    background-position: center;
    border-radius: 25px 25px 0px 0px;
    height: 65vh;
    margin-bottom: 15px !important;
}

.image-random-meal { display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 1.3em 1.3em 2em;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 35%;
}

.color {
    color: var(--gray);
}

/* =============
    Recipe.html 
================ */

.vh{
    min-height: calc(100vh - 214px);
}

.login-recipe {
    text-align: center;
    text-transform: capitalize;
    margin: 4em;
}

.login-recipe a::before {
    content: open-quote;
}

.login-recipe a::after {
    content: close-quote;
}

#next-page-url a,
#prev-page-url a {
    font-size: 1rem;
}

.pagination li i {
    font-size: 1.5rem;
}

.pagination li a .material-icons {
    vertical-align: middle;
}

.pagination li a {
    line-height: 22px;
}

.pagination {
    margin-bottom: 0;
}

.font-size {
    font-size: 1.3rem;
}

.top-image-my-recipes {
    background-image: url(/static/images/bon_appetit.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 85%;
    height: 35vh;
    margin: 0 auto;
}

.form-title {
    font-size: 3rem;
    font-weight: 700;
}

.form-title,
.form-subtitle {
    color: var(--gray);
    text-align: center;
    padding-top: 10px;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.recipe-name {
    margin: 40px;
    padding: 0;
}

.recipe-headers::before,
.search-keyword::before,
.recipe-name::before,
.form-title::before {
    content: open-quote;
}

.recipe-name strong::before {
    content: open-quote;
}

.recipe-headers::after,
.recipe-name::after,
.search-keyword::after,
.form-title::after {
    content: close-quote;
}

.search-keyword {
    font-weight: 900;
}

.num-of-recipes {
    margin-top: 0;
}

.search-result {
    margin-top: 2em;
    margin-bottom: 0;
}

a .img-card {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
}

.img-card {
    height: 250px !important;
}

.my-card-title {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    height: auto;
}

.my-card-action {
    background-color: var(--gray);
    height: 50px;
}

.my-card-action:hover {
    background-color: var(--black);
    color: var(--white);
    height: 50px;
}

.my-card-action:active {
    background-color: var(--black);
    border: solid 4px var(--orange);
    height: 50px;
}

.my-card-action a {
    margin: auto 1em;
    line-height: 2.5;
}

.my-card-action a:hover,
.my-card-action a:focus {
    color: var(--white);
}

.my-card-content {
    padding: 1.4em 1em 0;
}

.my-card-content p {
    height: 11em;
    overflow-y: auto;
    padding: 0 1em;
}

.recipes-author,
.recipe-author {
    text-transform: capitalize;
    color: var(--gray);
    font-weight: 900;
    font-size: .8rem;
}

.recipes-author:hover,
.recipe-author:hover {
    color: var(--black);
}

.category-margin {
    padding-top: .8em;
}

/* <!-- Recipe info --> */
.recipe-info {
    border-radius: 25px 25px 0px 0px;
    background: var(--dark-gray);
    padding-bottom: 15px;
    margin-bottom: 0;
}

/* <!-- Recipe info--> */
.recipe-info {
    border-radius: 25px 25px 0px 0px;
    background: var(--dark-gray);
    padding-bottom: 15px;
    margin-bottom: 0;
}

.info-row {
    background-color: #9393936b;
    padding-top: 10px;
}

/* <!-- Go to Edit/Delete my recipe page --> */
.edit-recipe,
.delete_recipe {
    text-align: center;
    border: 0;
    background: none;
    margin-top: .5em;
    letter-spacing: .2em;
}

.edit-recipe {
    border-radius: 25px 0px 0px 0px;
}

.delete_recipe {
    border-radius: 0px 25px 0px 0px;
}

.edit-bg,
.delete-bg {
    background-color: var(--dark-gray);
}


.edit-bg {
    border-radius: 25px 0px 0px 0px;
}

.delete-bg {
    border-radius: 0px 25px 0px 0px;
}

.add-to-favorite {
    color: var(--gray);
    font-weight: 900;
    text-align: center;
    border: none;
    background: none;
    margin-top: 1em;
    letter-spacing: .2em;
}

.edit-recipe {
    color: rgb(0, 122, 0);
}

.delete_recipe {
    color: #ff2a00;
    cursor: pointer;
}

.letter-spacing {
    letter-spacing: .2em;
}

.info-fonts {
    text-transform: uppercase;
}

.info-fonts,
.info-rec {
    font-size: .7rem;
    padding-bottom: 10px;
}

/* <!-- Recipe image from DB --> */

.text-background {
    background: rgb(190, 190, 190, 0.3);
}

.chip {
    background-color: var(--orange) !important;
}

.chip a{
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 900;
}

/* <!-- Recipe method --> */
.recipe-padding{
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
}

.position-ingredients,
.position-method {
    text-align: center;
}

.ol-recipe {
    max-height: 310px;
    overflow-y: auto;
}

.ol-recipe a {
    padding-left: 1rem;
}

.ul-style {
    padding-left: 2rem !important;
}


/* =================
    Add_recipe.html 
==================== */
.top-image-add-form,
.top-image-edit-form {
    background-image: url(/static/images/add_recipe.jpg);
    background-size: cover;
    color: #fff;
    background-position: center;
    border-radius: 25px 25px 0px 0px;
    height: 35vh;
}

.add-recipe-headers,
.edit-recipe-headers {
    background-color: var(--orange); padding: .4rem .8rem; border-radius: 3px;
}


/* ==================
    Edit_recipe.html 
===================== */
.top-section-image-edit-recipes {
    background-image: url(/static/images/my_recipies_image.jpg);
    background-size: cover;
    color: #fff;
    background-position: center;
    border-radius: 25px 25px 0px 0px;
    height: 35vh;
}

/* =============
    Recipe.html
================ */

.recipe-img {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 1.3em 1.3em 2em;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 80%;
}


/* ==================
    My_recipe.html 
===================== */

.pagination li a .material-icons {
    vertical-align: top;
}

.header-home{
    background: transparent;
    position: absolute;
    width: 100%;
}

.title,
.subtitle {
    text-align: center;
    text-transform: capitalize;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1rem;
}

.title,
.subtitle {
    font-weight: 700;
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1rem;
}



/* ==================
    footer
===================== */
/*
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 5rem;
}
*/

.wrapper-browse-recipes {
    min-height: calc(100vh - 215px);
}

.wrapper-keyword-search {
    min-height: 31vh;
}

.footer {
    color: whitesmoke;
    background-color: #84848482;
    margin-top: 10px;
    height: auto;
    /*position: absolute;
    bottom: 0;*/
    width: 100%
}

.footer-padding {
    padding-top: .5em;
}

.about {
    font-size: .75rem;
    padding: 0 2em;
}

.freepik-style {
    color: whitesmoke;
}

.freepik-style:hover {
    color: var(--gray);
}

.footer h5 {
    color: whitesmoke;
}

.social-padding {
    display: inline;
    padding: 0 .5rem;
}

.social {
    padding: 1rem;
    margin-top: 1rem;
}

.footer-bottom {
    background-color: #848484f0;
    color: var(--orange);
    font-size: .8rem;
    font-weight: 900;
    text-align: center;
    padding: .4rem 0rem; 
    width: 100%;
}

.footer-bottom:hover {
    color: var(--white);
}

/* =============
    Error pages
================ */
.error-header {
    font-size: 5rem;
    color: var(--gray);
    margin: 0 auto;
    margin-top: 2em;
}

.return {
    font-size: 2rem;
    font-weight: 900;
}


/* ===================================================================================================
                          Media Queries
    Breakpoints: <== col xs.. <= 600px, s.. >600px, > col m.. 600px, < col l.. 992px, < col xl.. 1200px
====================================================================================================== */

/* Class previx  .xs, .s, .m, .l */
@media screen and (min-width: 300px) and (max-width: 600px) {
    .top-image-home     { height: 25vh;}
    .top-image-add-form { height: 20vh;}
    .top-image-random-meal  { height: 25vh;}
    .random-meal-body   { min-height: calc(100vh - 210px);}
    .title-home         { font-size: 1.5rem;}
    .subtitle-home      { font-size: 1rem;}
    .tags-header-whitespace             { font-size: 1rem;}
    .chip               { margin-bottom: 5px;
                          margin-right: 5px;
                          height: 20px;
                          font-size: 5px;
                          line-height: 20px;}
    .chip a             { text-transform: capitalize;
                          font-size: .7rem;}
    .search-recipes     { font-size: 1.5rem;}
    input[type="text"]:not(.browser-default)    { font-size: 9px;
                                                  height: 1.6rem;}
    .section            { padding: .3em .6em 0;}
    .smaller-scr-size   { font-size: .5rem;}
    .form-title         { font-size: 1.2rem;}
    .edit-recipe-headers    { font-size: .8rem;}
    .btn-small          { height: 18px;
                          line-height: 18px;
                          font-size: 9px;}
    .btn-small i        {font-size: .7rem;}
    .recipe-name        { margin: 10px;
                          padding: ;}
    .img-card           { height: 170px !important;}
    .my-card-title      { font-size: .8rem;}
    .my-card-content    { height: 220px;
                          padding: 2em 1em;}
    .my-card-content p  {
                          height: 110px;
                          font-size: .9rem;
                          padding: 0;
                          margin-bottom: .5em;}
    .recipe-img         { width: 60%;}
    .edit-recipe,
    .delete_recipe      { margin-top: 0;}
    #next-page-url a,
    #prev-page-url a    {font-size: .9rem;}
    .pagination li i    {font-size: 1rem;}
    .pagination li a .material-icons    {vertical-align: middle;}
    .pagination         {margin-bottom: 0;}
    .about              {font-size: .5rem;}
    .footer-padding     {font-size: .9rem;}
    .footer-bottom      {font-size: .7rem;}
}


@media screen and (min-width: 600px) and (max-width: 992px) {
    
    .top-image-home         { height: 30vh;}
    .title-home             { font-size: 2rem;}
    .subtitle-home          { font-size: 1.5rem;}
    .search-recipes         { font-size: 2rem;}
    .chip                   { margin: 3px 0;}
    .tags-header-whitespace { margin-bottom: .5em;}
    .smaller-scr-size       { font-size: .6rem;}
    .background             { height: 130px;}
    .edit-recipe, 
    .delete_recipe          { margin-top: 0;}
    .info-fonts             { font-size: .6rem;}
    .recipe-img             { width: 80%;}
    .edit-recipe,
    .delete_recipe      { margin-top: 1em;}
    
    input[type="text"]:not(.browser-default) { font-size: .85rem;}

    /* random meal section*/
    .form-title             { font-size: 1.5rem;}
    .recipe-name            { margin: 1em 0 0;}
    .btn-margin             { margin: 0 0 1em !important;}
    .image-random-meal      { display: flex;
                              justify-content: flex-start;
                              margin: 0 auto;
                              padding: 1.3em 1.3em 2em;
                              border-top-left-radius: 45px;
                              border-top-right-radius: 45px;
                              width: 95%;
    }
    .meal-instr             { padding: 0 1em 0 0;}
    iframe                  { width: 95%;
                              margin-top: 1em;}

    /* footer */
    .footer-padding         { font-size: 1.2rem;}
    .social-padding         { display: block; padding: .5em 1.5em;}
    .about                  { padding: 0 1em;}
    .freepik                { font-size: .75rem;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .top-image-home         { height: 45vh;}
    .image-random-meal      { width: 60%;}
    .ol-recipe              { max-height: 1500px;
                              overflow-y: auto;}
    .ul-style               { max-height: 500px;
                              overflow-y: auto;}
    .info-fonts             { font-size: .6rem;}
    .recipe-img             { width: 90%;}
}

@media screen and (min-width: 1200px) {
    .top-image-home         { background-image: url(/static/images/three_burgers.jpg);}
    .messages               { width: 30%;}
    .title                  { padding-top: 10px;
                              font-size: 3rem;}
    .recipe-img             { width: 80%;}
}
