/* ========================================
    This is the start of every css page!!
=========================================== */

/*  Fonts
    -----
    font-family: 'Lora', serif;             headers
    font-family: 'Ubuntu', sans-serif;      Body & buttons
*/

/* compound selectors */

:root {
    --yellow: #FFE600;
    --black: #464646;
    --white: #dcdace;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;                  /* to not touch the sides */
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;            /* 1rem = 16 px (default) */
    font-weight: 400;
    line-height: 1.6;           /* Its easier to read */
}

/* ==================
    Typography
===================== */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lora', serif;
    font-weight: 400;
    margin-top: 0;
}

h1,
h2 {
    color: var(--yellow);
}

h3,
h4,
h5 {
    color: #0404047d;
}

h5 {
    text-transform: capitalize !important;
}

h6 {
    margin: .7666666667rem 0 0rem 0;
    font-weight: 900;
}

strong {
    font-weight: 700;
}

/* ==================
    header
===================== */

.header-home{
    background: transparent;
    position: absolute;
    width: 100%;
}


/* navigation */
nav {
    background-color: transparent;
}

i.right {
    margin: 5px;
}

.nav-link,
.nav-link-mobile {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}


.nav-link:hover,
.nav-link:focus {
    color: #9d9d9d;
}

.nav-link-mobile:hover,
.nav-link-mobile:focus {
    background-color: var(--black) !important;
    color: var(--white);
}

.hamburger-list li > a:hover {
    background-color: var(--black) !important;
    color: var(--white)
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

nav .brand-logo.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* Navigation smaller screens*/

.sidenav{
    background-color: var(--white);
    background-size: cover;
    background-position: center;
    height: 100vh;
    object-fit: cover;
}

.sidenav li > a {
    color: var(--black);
    font-size: 1rem;
    font-weight: 700;
}

.sm {
    text-align: center;
}

.background {
    height: 234px;
}

.hamburger-lists {
    padding-top: 234px;
}

/* ==================
    top-section (main)
===================== */

.top-section {
    background-image: url(/static/images/three_burgers.jpg);
    background-size: cover;
    background-position: center top;
    color: #fff;
    height: 65vh;
}


.top-grid {
    display: grid;
    grid-template-areas:
        "navigation" 
        "header"
        "sub-header"
        "button"
        "flash-message";
}

.nav            {grid-area: navigation;}
.title          {grid-area: header;}
.subtitle       {grid-area: sub-header;}
.btn-register   {grid-area: button;}
.flash-message  {grid-area: flash-message;}
.form-register  {grid-area: form-register;}

.title,
.subtitle {
    text-align: center;
    text-transform: capitalize;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1rem;
}

.title,
.subtitle {
    font-weight: 700;
}

.title {
    grid-area: header;
    font-size: 2rem;
}

.subtitle {
    font-size: 1rem;
}

/* class category for flash messages */

.flash-message,
.error,
.message,
.messages {
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
    font-weight: 700;
    font-size: 1rem;
}

.messages {
    color: white;
    background-color: #00000091;
    padding: 10px 20px;
    width: 45%;
    border-radius: 10px;
}

.error,
.alert {
    color: red;
}

.username-nav {
    text-align: center;
    color: var(--black);
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Lora';
    text-transform: capitalize;
}
/* ==================
    buttons
===================== */

.btn {
    background-color: transparent !important;
    font-size: 2rem;
    text-transform: capitalize;
    align-self: center;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
} 

.btn-register,
.btn-surprise {
    color: #0404047d;
    transform: scale(.8);
    transition: transform 250ms;
    justify-self: center;
    margin: 1rem 0rem;
}

.btn-register:hover,
.btn-register:focus,
.btn-surprise:hover,
.btn-surprise:focus {
    transform: scale(1);
    background-color: #6d3819;
}

/* ==================
    middle section
===================== */

.middle-grid {
    display: grid;
    grid-template-areas: 
        "header"
        "sub-header"
        "sub-header-text"
        "button";
}

.middle-section-title,
.middle-section-subtitle,
.middle-section-subtitle-text {
    text-align: center;
}

.middle-section-subtitle,
.middle-section-subtitle-text {
    text-transform: capitalize;
}

.middle-section-title {
    text-transform: uppercase;
    grid-area: header;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.middle-section-subtitle {
    margin-top: 0;
    margin-bottom: .75rem;
    font-weight: 700;
}



/* ====================
    Random meal area
======================= */

.random-meal-section {
    display: grid;
    grid-template-rows: auto;
    row-gap: 1em;
    padding: 0em .8em;
    grid-template-areas:
        "header"
        "img"
        "tags-header"    
        "tags"
        "ingr-header"    
        "ingr"
        "instr-header"   
        "instr"
        "video-header"
        "video";
}

/* grid areas */
.random-meal-name       { grid-area: header; }
.img-food-parent        { grid-area: img; }
.tags-parent            { grid-area: tags-header; }
.tags                   { grid-area: tags; }
.ingredients            { grid-area: ingr; }
.ingr-parent            { grid-area: ingr-header; }
.meal-instr-parent      { grid-area: instr-header; }
.instructions           { grid-area: instr; }
.img-header-parent           { grid-area: video-header; }
.video-parent           { grid-area: video; }


.img-food-parent,
.random-meal-name,
.tags-parent,
.img-header-parent,
.tags,
.meal-instr-parent,
.ingredients,
.video-parent,
.video-header-div {
    display: grid;
}

.image-header,
.random-meal-name p,
.tags-header,
.tags-parent,
.ingr-parent h2,
.ingredients,
.meal-instr-header,
.instructions {
    text-align: center;
}

.tags-header,
.meal-instr-header,
.ingr-header {
    text-transform: uppercase;
}


.img-food-parent {
    border-bottom: 2px solid rgb(78, 78, 78);
}

.img-food {
    justify-self: center;
    margin-bottom: 2rem;
    max-height: 400px;
    width: 60%;
    object-fit: cover;
    box-shadow: 3px 3px 5px 3px rgb(66, 66, 66);
}

.meal-info {
    margin: 0;
}

.meal-info p {
    text-align: start;
}

.random-meal-name {
    border-top: 2px solid rgb(78, 78, 78);
    font-size: 2.5rem;
}

.random-meal-name p {
    margin: 0;
}

.video-parent {
    padding: 1em;
}

.tags,
.meal-instr,
.ingredients {
    margin: 0em 2em;
}

.random-meal-name,
.image-header {
    padding: .3em;
    margin: 0 auto;
    text-align: center;
}

.meal-instr-parent {
    margin: 0;
}

.ingredients,
.meal-instr {
    overflow-y: auto;
    max-height: 400px;
}

.videoWrapper {
    margin: auto;
}

/* ==================
    footer
===================== */

/* ==================
    Media Queries
===================== */

/* Media queries bigger screens */

@media (min-width: 525px) {
    .title {
        padding-top: .4em;
        font-size: 3rem;
    }

    .subtitle {
        font-size: 2rem;
    }
}

@media (min-width: 880px) {
    .top-section {
        background-image: url(/static/images/three_burgers_less_background2.jpg);
    }

    .messages {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .top-section {
        background-image: url(/static/images/three_burgers_less_background3.jpg);
    }

    .messages {
        width: 30%;
    }

    .title {
        padding-top: 0px;
        font-size: 3rem;
    }
}

@media (min-width: 400px) {

 /* random meal section*/

    .random-meal-section {
        display: grid;
        width: 100%;
        row-gap: .5em;
        column-gap: 2em;
        padding: 0em 2em;
        grid-template-areas:
            "header         header          header"
            "img            img             img"
            "tags-header    tags-header     instr-header"
            "tags           tags            instr"
            "ingr-header    ingr-header     instr"
            "ingr           ingr            instr"
            "video-header   video-header    video-header"
            "video          video           video";
    }

    .img-header-parent h2 {
        display: none;
    }

    
    .image-header,
    .tags-header,
    .ingr-header,
    .meal-instr-header,
    .meal-instr,
    .video-parent {
        border-top: none;
    }
 

    .ingr-parent,
    .tags-header,
    .meal-instr,
    .meal-instr-header,
    .ingredients {
        text-align: start;
    }

    

    .meal-instr {
        width: 75%;
    }
}
