/* ========================================
    This is the start of every css page!!
=========================================== */

/*  Fonts
    -----
    font-family: 'Lora', serif;             headers
    font-family: 'Ubuntu', sans-serif;      Body & buttons
*/

/* compound selectors */

:root {
    --yellow: #FFE600;
    --black: #464646;
    --white: #dcdace;
    --gray: #848484;
}

body {
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;                  /* to not touch the sides */
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;            /* 1rem = 16 px (default) */
    font-weight: 400;
    line-height: 1.6;           /* Its easier to read */
}

ul {
    margin-top: 0;
}


/* ==================
    Typography
===================== */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lora', serif;
    font-weight: 400;
    margin-top: 0;
}

h1,
h2 {
    color: var(--yellow);
}

h3,
h4,
h5 {
    color: #0404047d;
}

h5 {
    text-transform: capitalize !important;
}

h6 {
    margin: .7666666667rem 0 0rem 0;
    font-weight: 900;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
}

/* ==================
    header
===================== */

/* navigation */

nav {
    background-color: #0d0c0ce6;
    background-image: linear-gradient(to bottom, #1f0e07, #441f0c, #31190d, #472613, #4a2713) !important;
    height: 40px;
}

.brand-logo {
    color: var(--yellow) !important;
}

.dropdown-content {
    width: max-content !important;
    height:auto !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #78766a;
    text-transform: capitalize;
    font-size:14px;
    letter-spacing: 1px;
}

i.right {
    margin: 5px;
}

.nav-link,
.nav-link-mobile {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    color: #9d9d9d;
}


.nav-link:hover,
.nav-link:focus {
    color: whitesmoke;
}

.nav-link-mobile:hover,
.nav-link-mobile:focus {
    background-color: var(--black) !important;
    color: var(--white);
}

.hamburger-list li > a:hover {
    background-color: var(--black) !important;
}

nav ul a {
    padding: 0 14px;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

nav .brand-logo.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.divider {
    background-color: var(--black);
}

/* Navigation smaller screens*/

.sidenav{
    background-color: var(--white);
    background-size: cover;
    background-position: center;
    height: 100vh;
    object-fit: cover;
}

.sidenav li > a {
    color: var(--black);
    font-size: 1rem;
    font-weight: 700;
}

.sm {
    text-align: center;
}

.background {
    height: 234px;
}

.hamburger-lists {
    padding-top: 234px;
}

/* ==================
    top-sections
===================== */
.header-home{
    background: transparent;
    position: absolute;
    width: 100%;
}

/* Top section images */
.top-section-home {
    background-image: url(/static/images/three_burgers.jpg);
    background-size: cover;
    color: #fff;
    background-position: center top;
    height: 50vh;
    width: 100%;
}

.top-section-image-add-recipes,
.top-section-image-my-recipes {
    background-size: cover;
    color: #fff;
    background-position: center;
    height: 35vh;
}

.top-section-image-add-recipes {
    background-image: url(/static/images/add_recipe.jpg);
}

.top-section-image-my-recipes {
    background-image: url(/static/images/my_recipies_plate.jpg);
}

.top-grid {
    display: grid;
    width: 100%;
    grid-template-areas:
        "header"
        "sub-header"
}


.title          {grid-area: header;}
.subtitle       {grid-area: sub-header;}

.title,
.subtitle {
    text-align: center;
    text-transform: capitalize;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1rem;
}

.title,
.subtitle {
    font-weight: 700;
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1rem;
}

.username-nav {
    color: var(--black);
    text-align: center !important;
    padding: 14px 16px;
}


/* ==================
    buttons
===================== */

.btn {
    background-color: transparent !important;
    padding: 0 2rem;
    font-size: 2rem;
    text-transform: capitalize;
    align-self: center;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
} 

.view-it {
    grid-column: span 2;
    background-color: transparent !important;
    color: #0404047d;
    justify-self: center;
    padding: 1 2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.btn-register,
.btn-surprise {
    color: #0404047d;
    transform: scale(.8);
    transition: transform 250ms;
    justify-self: center;
    margin: 1rem 0rem;
}

.btn-register:hover,
.btn-register:focus,
.btn-surprise:hover,
.btn-surprise:focus {
    transform: scale(1);
    background-color: #6d3819;
}

/* =======================
    random meal section
======================== */

.rm-grid {
    display: grid;
    grid-template-areas: 
        "rm-title"
        "rm-text"
        "rm-text"
        "button";
}

.rm-title     {grid-area: rm-title;}
.rm-text      {grid-area: rm-text;}
.button       {grid-area: button;}

.rm-title {
    text-transform: uppercase;
    margin-top: 2rem;
}

.rm-title,
.rm-text {
    text-align: center;
    color: var(--gray);
}

.middle-section-subtitle,
.middle-section-subtitle-text {
    text-transform: capitalize;
}

.middle-section-title {
    text-transform: uppercase;
    margin: 1rem auto;
}

.middle-section-subtitle {
    margin-top: 0;
    margin-bottom: .75rem;
    font-weight: 700;
}



/* ====================
    Random meal area
======================= */

.random-meal-section {
    display: grid;
    grid-template-rows: auto;
    padding: 0em .8em;
    grid-template-areas:
        "header"
        "img"
        "tags-header"    
        "tags"
        "ingr-header"    
        "ingr"
        "instr-header"   
        "instr"
        "video-header"
        "video";
}

/* grid areas */
.random-meal-name       { grid-area: header; }
.img-food-parent        { grid-area: img; }
.tags-parent            { grid-area: tags-header; }
.tags                   { grid-area: tags; }
.ingredients            { grid-area: ingr; }
.ingr-parent            { grid-area: ingr-header; }
.meal-instr-parent      { grid-area: instr-header; }
.instructions           { grid-area: instr; }
.img-header-parent      { grid-area: video-header; }
.video-parent           { grid-area: video; }


.img-food-parent,
.random-meal-name,
.tags-parent,
.img-header-parent,
.tags,
.meal-instr-parent,
.ingredients,
.video-parent,
.video-header-div {
    display: grid;
}

.tags-header,
.meal-instr-header,
.ingr-header {
    text-transform: uppercase;
    margin: 1em 0em .5em .7em;
}

.img-food {
    justify-self: center;
    margin: 1em 2em 0em 1em;
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 5px 3px rgb(66, 66, 66);
}

.meal-info {
    margin: 0;
}

.meal-info p {
    text-align: start;
}

.random-meal-name {
    border-top: 2px solid rgb(216, 216, 216);
    font-size: 2.5rem;
    width: 100%;
}

.random-meal-name p {
    margin: 0;
}

.video-parent {
    padding: 1em;
}

.tags,
.meal-instr,
.ingredients {
    margin: 0em .75em;
}

.random-meal-name,
.image-header {
    padding: .3em;
    margin: 0 auto;
    text-align: center;
}

.meal-instr-parent {
    margin: 0;
}

.ingredients {
    overflow-y: auto;
    max-height: 260px;
}

.meal-instr {
    overflow-y: auto;
    max-height: 325px;
}

.videoWrapper {
    margin: auto;
}

/* ======================
    middle section HOME
======================= */


/* ==================
    footer
===================== */

.footer {
    display: grid;
    color: whitesmoke;
    background-color: #84848482;
    column-gap: 3rem;
    margin-top: 4rem;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "sidebar-left   sidebar-right"
    "footer-bottom  footer-bottom";
}

.sidebar-left   {grid-area: sidebar-left;}

.sidebar-right  {grid-area: sidebar-right;}

.footer-bottom  {grid-area: footer-bottom;}

.sidebar-left,
.sidebar-right {
    padding: .5rem 8rem 0rem;
    margin: 0 auto;
}

.sidebar-right {
    align-self: top;
}

.sidebar-right h5 {
    padding-bottom: 1.5rem;
    margin: 0;
}

.about {
    font-size: .75rem;
}

.footer h5 {
    color: whitesmoke;
}

.social {
    padding-right: 1rem;
}

.footer-bottom {
    background-color: #848484f0;
    text-align: center;
    padding: .4rem 0rem; 
    width: 100%;
}

/* ==================
    Media Queries
===================== */

/* Media queries bigger screens */

@media (min-width: 525px) {
    .title {
        padding-top: .4em;
        font-size: 3rem;
    }

    .subtitle {
        font-size: 2rem;
    }
}

@media (min-width: 880px) {
    .top-section-home {
        background-image: url(/static/images/three_burgers_less_background2.jpg);
    }

    .messages {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .top-section-home {
        background-image: url(/static/images/three_burgers_less_background3.jpg);
    }

    .messages {
        width: 30%;
    }

    .title {
        padding-top: 10px;
        font-size: 3rem;
    }
}

@media (min-width: 400px) {

 /* random meal section*/

   /* .random-meal-section {
        display: grid;
        width: 100%;
        row-gap: .5em;
        padding: 0em 2em;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "header         header          header"
            "img            img             img"
            "tags-header    tags-header     instr-header"
            "tags           tags            instr"
            "ingr-header    ingr-header     instr"
            "ingr           ingr            instr"
            "video-header   video-header    video-header"
            "video          video           video";
    }*/

    .random-meal-section {
        display: grid;
        width: 100%;
        padding: 0em 2em;
        grid-template-areas:
            "header         header          header"
            "img            tags-header     instr-header"
            "img            tags            instr"
            "img            ingr-header     instr"
            "img            ingr            instr"
            "video-header   video-header    video-header"
            "video          video           video";
    }

    .img-header-parent h2 {
        display: none;
    }

    .image-header {
        margin-top: .5em;
    }
    
    .ingr-parent,
    .tags-header,
    .meal-instr,
    .meal-instr-header,
    .ingredients {
        text-align: start;
    }


    .meal-instr {
        width: 95%;
    }
}

@media (min-width: 300px) {

    /* Navigation */
    nav, 
    nav .nav-wrapper i, 
    nav a.sidenav-trigger, 
    nav a.sidenav-trigger i {
        line-height: 30px;
    }
}
