<!DOCTYPE html>
<!-- Parent HTML-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Author of project -->
    <meta name="author" content="Stefan Brunotte">
    <!-- Description of project -->
    <meta name="description" content="Milestone Project 3 Code Institute">
    <!-- google fonts: Lora & Ubuntu -->
    <link href="https://fonts.googleapis.com/css?family=Lora|Ubuntu:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- my css link -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/toastr.css')}}" type="text/css" />

    <title>FOODictionary</title>
    <!-- Flask-Toastr -->
    {{ toastr.include_jquery() }}
    <!--{{ toastr.include_toastr_css() }}-->
    {{ toastr.message() }}
</head>

<body>
    <!-- Dropdown structure for Recipe's and My Account Large screens -->
    <ul id="dropdown1" class="dropdown-content">
        {% for category in recipeCategory %}
        <li><a class="nav-link"
                href="{{url_for('browse_recipes', recipe_category_name = category.recipe_category_name, page=1)}}">{{category.recipe_category_name}}</a>
        </li>
        {% endfor %}
    </ul>

    <ul id="dropdown2" class="dropdown-content">
        <li class="username-nav">Hello {{session.username|capitalize}}</li>
        <li><a href="{{url_for('add_recipe')}}" class="nav-link">add recipe</a></li>
        <li><a href="{{url_for('my_recipes', page=1)}}" class="nav-link">my recipes</a></li>
        <!--TODO add url_for 'my_favorite_recipes-->
        <li><a href="{{url_for('my_favorite_recipes', page=1)}}" class="nav-link">my favorite recipes</a></li>
        <li><a href="{{url_for('logout')}}" class="nav-link">logout</a></li>
    </ul>


    <!-- Dropdown structure for Recipe's and My Account Sidenav -->
    <!--TODO the dropdown does not work -->
    <ul id="dropdown3" class="dropdown-content">
        {% for category in recipeCategory %}
        <li><a class="nav-link-mobile"
                href="{{url_for('browse_recipes', recipe_category_name = category.recipe_category_name, page=1)}}">{{category.recipe_category_name}}</a>
        </li>
        {% endfor %}
    </ul>

    <ul id="dropdown4" class="dropdown-content">
        <li class="username-nav">Hello {{session.username|capitalize}}</li>
        <li><a href="{{url_for('add_recipe')}}" class="nav-link">add recipe</a></li>
        <li><a href="{{url_for('my_recipes', page=1)}}" class="nav-link">my recipes</a></li>
        <!--TODO add url_for 'my_favorite_recipes-->
        <li><a href="{{url_for('my_favorite_recipes', page=1)}}" class="nav-link">my favorite recipes</a></li>
        <li><a href="{{url_for('logout')}}" class="nav-link-mobile">logout</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger mobile-color"><i
                    class="material-icons">menu</i></a>
            <a href="{{url_for('home')}}" class="brand-logo"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{url_for('home')}}" class="nav-link">home</a></li>
                <li><a id="get_meal_desktop" href="{{url_for('random_meal')}}" class="nav-link">random recipe</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger nav-link" href="#!" data-target="dropdown1">recipe category<i
                            class="material-icons right line-height">arrow_drop_down</i></a></li>

                {% if session.logged_in %}
                <li><a class="dropdown-trigger nav-link" href="#!" data-target="dropdown2">my account<i
                            class="material-icons right line-height">arrow_drop_down</i></a></li>
                {% else %}
                <li><a href="{{url_for('login')}}" class="nav-link">login/register</a></li>
                {% endif %}
            </ul>
            <!-- sidemenu Mobile -->
            <ul class="sidenav" id="mobile-demo">
                <div class="background">
                    <img src="/static/images/three_burgers.jpg" class="sidenav-img">
                </div>
                <div class="hamburger-list">
                    <li><a href="{{url_for('home')}}" class="nav-link-mobile">home</a></li>
                    <li><a id="get_meal_desktop" href="{{url_for('random_meal')}}" class="nav-link-mobile">random
                            recipe</a>
                    </li>
                    <!-- Dropdown Trigger -->
                    <!--TODO Recipes does not connect to DB in sidenav -->
                    <li><a class="dropdown-trigger nav-link-mobile" href="#!" data-target="dropdown3">recipe category<i
                                class="material-icons right line-height">arrow_drop_down</i></a></li>
                    <li class="divider"></li>
                    {% if session.logged_in %}
                    <li class="username-nav">Hello {{session.username|capitalize}}</li>
                    <li><a class="dropdown-trigger nav-link-mobile" href="#!" data-target="dropdown4">my account<i
                                class="material-icons right line-height">arrow_drop_down</i></a></li>
                    {% else %}
                    <li><a href="{{url_for('login')}}" class="nav-link-mobile">login/register</a></li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </nav>


    <!--Main Body-->
    <div>
        <!-- Flask-Toastr -->
        {{ toastr.include_toastr_js() }}
        {% block content %} {% endblock %}
    </div>



    <footer>
        <div class="footer">
            <div class="row center">
                <div class="col s7 m9">
                    <h5 class="footer-padding">About FOODictionary</h5>
                    <p class="about">FOODictionary is your personalized cookbook!
                        <br>FOODictionary is a platform where you can add, edit and save your favorite recipes for quick
                        access. You can also se other members recipes and add them to your favorites.
                        <br>FOODictionary's vision is to give you a personalized plattform where you can grow your own
                        personal cookbook filled with your own favorite recipes.</p>
                    <p class="about">Icons made by <a href="https://www.flaticon.com/authors/freepik"
                            class="freepik freepik-style" title="Freepik">Freepik</a> from <a
                            href="https://www.flaticon.com/" class="freepik freepik-style" title="Flaticon">
                            www.flaticon.com</a></p>

                </div>

                <div class="col s5 m3">
                    <h5 class="footer-padding">I'm social</h5>
                    <a class="social social-padding" href="https://www.facebook.com/brunotte" target="_blank"><img
                            src="/static/images/facebook18px.png" alt="Facebook"></a>
                    <a class="social social-padding" href="https://www.instagram.com/mrbrunotte/" target="_blank"><img
                            src="/static/images/instagram18px.png" alt="Instagram"></a>
                    <a class="social social-padding" href="https://twitter.com/mrbrunotte" target="_blank"><img
                            src="/static/images/twitter18px.png" alt="Twitter"></a>
                    <a class="social social-padding" href="https://www.linkedin.com/in/stefan-brunotte-44b01521/"
                        target="_blank"><img src="/static/images/linkedin18px.png" alt="Linkedin"></a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 footer-bottom">
                    @ 2020 Stefan Brunotte for Code Institute
                </div>
            </div>
        </div>

    </footer>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sidenav').sidenav();            // for the mobile hamburger menu
            $('select').formSelect();           // for the allergens in add_recipe.html
            $(".dropdown-trigger").dropdown();  // for the dropdown menu

        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- script link to random-meal script file -->
    <script src="/static/js/script.js"></script>
    <!-- toastr.js -->
    <script src="/static/js/toastr.js"></script>
    <!-- custom.js -->
    <script src="/static/js/custom.js"></script>
</body>

</html>
