<!DOCTYPE html>
<!-- Parent HTML-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- google fonts: Lora & Ubuntu -->
    <link href="https://fonts.googleapis.com/css?family=Lora|Ubuntu:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- my css link -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/forms.css')}}" type="text/css" />

    <title>{{page_title}}</title>
</head>

<body>
    <!--Navigation for Desktop and Mobile-->
    <section class="top-section">
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="brand-logo center hide-on-med-and-down">
                    <li><a href="{{url_for('home')}}" class="nav-link">home</a></li>
                    {% if session.logged_in %}
                    <li class="divider"></li>
                    <li><a class="nav-link dropdown-button" href="#!" data-activates="dropdown2"><i
                                class="material-icons left">account_circle</i>Account<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="{{url_for('logout')}}" class="nav-link"><i
                                class="material-icons left">account_circle</i>logout</a></li>


                    {% else %}
                    <li><a href="{{url_for('register')}}" class="nav-link">register</a></li>
                    <li><a href="{{url_for('login')}}" class="nav-link"><i
                                class="material-icons left">account_circle</i>login</a></li>

                    {% endif %}
                    <li><i id="search-btn" class="material-icons">search</i></li>
                </ul>

                <!-- sidemenu smaller screens -->
                <!--TODO center text!!-->
                <ul class="sidenav" id="mobile-demo">
                    {% if session.logged_in %}
                    <li class="username-nav">Welcome back {{session.username|capitalize}}!</li>
                    <li class="divider"></li>
                    <li><a class="nav-link dropdown-button" href="#!" data-activates="dropdown2"><i
                                class="material-icons left">account_circle</i>Account<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="{{url_for('logout')}}" class="nav-link"><i
                                class="material-icons left">account_circle</i>logout</a></li>
                    {% else %}
                    <li><a href="{{url_for('register')}}" class="nav-link">register</a></li>
                    <li><a href="{{url_for('login')}}" class="nav-link"><i
                                class="material-icons left">account_circle</i>login</a></li>
                    {% endif %}
                    <li><i id="search-btn2" class="material-icons">search</i></li>

                </ul>

            </div>
        </nav>
        <div class="top-grid">
            <h1 class="title">FOODictionary</h1>
            <h2 class="subtitle">- Your personalized cookbook -</h2>
        </div>
        <!--Flash Messages-->
        <div class="flash-message">
            <header class="center row flash-message">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if error %}
                <p class="error"><b>Error:</b> {{ error }} </p>
                {% endif %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert {{ category }}">
                    <div class="messages">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </header>
        </div>
    </section>

    <!--Main Body-->
    <div>


        {% block content %} {% endblock %}
    </div>




    <!--! random meal section -->
    <section class="middle-section middle-grid" id="rm">
        <h2 class="middle-section-title">random meal generator</h2>
        <p class="middle-section-subtitle">Don't know what to cook for dinner?</p>
        <p class="middle-section-subtitle-text">Hit the button and get a random meal suggestion.</p>
        <a id="get_meal" href="#meal" class="btn btn-surprise">Surprise me!</a>
        <!-- Button to make the request to the API -->
    </section>
    <section class="random-meal-section" id="meal"></section> <!-- The API data is sent to this div container -->


    <footer>
        <!-- TODO add footer section -->
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sidenav').sidenav();  // for the mobile hamburger menu
        });
    </script>
    <!-- script link to random-meal script file -->
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>
