{% extends 'base.html' %} {% block content %}
<!-- top image -->
<div class="top-image-my-recipes container"></div>
<div class="container">
    <div class="wrapper-browse-recipes">
        <h4 class="center form-title">{{recipe_category_name}}</h4>
        {% if session['logged_in'] and count_recipes == 0 %}
        <p class="center font-size">You don't have any recipes for this category. Why don't you <a
                href="{{url_for('add_recipe')}}">add</a>
            a "{{recipe_category_name}}"
            recipe now.</p>
        {% elif count_recipes == 0 %}
        <p class="center font-size">There are no recipes for this category. Why don't you <a
                href="{{url_for('register')}}">register</a> or <a href="{{url_for('login')}}">log in</a> and add a
            "{{recipe_category_name}}"
            recipe!</p>
    </div>
    {% else %}
    <!-- Total number of Recipes and Pagination ABOVE cards -->
    <div class="row">
        <div class="col s12">
            <p class="center num-of-recipes">Displaying {{count_recipes}} Recipe(s). Page {{ page }} of
                {{total_no_of_pages}}</p>
        </div>
        {% if total_no_of_pages <= 1 %}
        <div class="col s12 m6 l4">

        </div>
        {% else %}
        <div class="col s12 m6 l4">
            <ul class="pagination right-align">
                <li id="prev-page-url" {% if page|int > 1 %} class="" {% else %} class="disabled" {% endif %}>
                    <a {% if page|int > 1 %}
                        href="{{url_for('browse_recipes',recipe_category_name = recipe_category_name, page=page|int-1)}}"
                        {% endif %}><i class="material-icons">chevron_left</i>Prev</a>
                </li>
                <li id="next-page-url" {% if page|int != total_no_of_pages|int %}class="" {% else %} class="disabled"
                    {% endif %}>
                    <a {% if page|int != total_no_of_pages|int %}
                        href="{{url_for('browse_recipes',recipe_category_name = recipe_category_name, page=page|int+1)}}"
                        {% endif %}>Next<i class="material-icons">chevron_right</i></a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>

    <!-- card -->
    <div class="row">
        <div class="col s12">
            {% for recipe in recipes %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="{{url_for('recipe_page', recipe_id = recipe._id)}}"><img class="img-card"
                                src="{{recipe.recipe_image}}" alt="{{recipe.recipe_name}}"></a>
                        <form action="{{url_for('recipe_favorite', recipe_id = recipe._id)}}" method="POST"
                            class="col s12">
                            {% if recipe.author_name == session.username %}
                            {% if recipe.favorite != true %}
                            <a href="{{url_for('add_favorite_recipe_browse_recipes', recipe_id = recipe._id, recipe_category_name = recipe_category_name, page = page, destination = 'browse_recipes')}}"
                                class="halfway-fab btn-floating">
                                <i class="material-icons">add</i></a>
                            {% else %}
                            <a href="{{url_for('remove_favorite_recipe_browse_recipes', recipe_id = recipe._id, recipe_category_name = recipe_category_name, page = page, destination = 'browse_recipes')}}"
                                class="halfway-fab btn-floating blury">
                                <i class="material-icons">remove</i></a>
                            {% endif %}
                            {% endif %}
                        </form>
                    </div>
                    <div class="my-card-content">
                        <span class="my-card-title card-span truncate">{{recipe.recipe_name}}</span>
                        <p class="description-size">
                            {{recipe.recipe_description}}
                        </p>
                        <span class="recipes-author">Recipe added by: {{recipe.author_name}}</span>
                    </div>
                    <div class="my-card-action">
                        <a href="{{url_for('recipe_page', recipe_id = recipe._id)}}">View Recipe</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
