{% extends 'base.html' %} {% block content %}
{% if session['logged_in'] %}

<!-- top image -->
<div class="top-image-edit-form"></div>

<!-- title of page-->
<h5 class="form-title">edit your recipe</h5>

<!-- Edit recipe -->
<div class="container">
    <div class="row">
        <form action="#" method="POST" class="col s12">

            <div class="row">
                <!-- Recipe name -->
                <div class="input-field col s12">
                    <h6 class="edit-recipe-headers">recipe name</h6>
                    <input placeholder="* Name of recipe..." id="recipe_name" type="text" class="validate"
                        name="recipe_name" value="{{recipes.recipe_name}}" required>
                </div>
            </div>

            <div class="row">
                <!-- Recipe description-->
                <div class="input-field col s12">
                    <h6 class="edit-recipe-headers">description</h6>
                    <input placeholder="* Recipe description..." id="recipe_description" type="text" class="validate"
                        name="recipe_description" value="{{recipes.recipe_description}}" required>
                </div>
            </div>


            <div class="row">
                <!-- Recipe category from mongoDB -->
                <div class="input-field col s12 m6">
                    <h6 class="edit-recipe-headers">recipe category</h6>
                    <select name="recipe_category_name" id="recipe_category_name" required>
                        {% set _stub = recipeCategory.rewind() %}
                        {% for category in recipeCategory %}
                        {% if recipes.recipe_category_name == category.recipe_category_name %}
                        <option value="{{category.recipe_category_name}}" selected>{{category.recipe_category_name}}
                        </option>
                        {% else %}
                        <option value="{{category.recipe_category_name}}">{{category.recipe_category_name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- Allergens from mongoDB -->
                <div class="input-field col s12 m6">
                    <h6 class="edit-recipe-headers">Allergens</h6>
                    <select multiple id="allergen_type" name="allergen_type">
                        {% set _stub = allergens.rewind() %}
                        {% for allergen in allergens %}
                        {% if allergen.allergen_type in recipes.allergen_type   %}
                        <option value="{{allergen.allergen_type}}" selected>{{allergen.allergen_type}}</option>
                        {% else %}
                        <option value="{{allergen.allergen_type}}">{{allergen.allergen_type}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

            </div>


            <div class="row">
                <!-- Prep time -->
                <div class="input-field col s12 m6">
                    <h6 class="edit-recipe-headers">Preparation time</h6>
                    <input placeholder="* Preparation time..." id="recipe_prep_time" name="recipe_prep_time" type="text"
                        class="validate" value="{{recipes.recipe_prep_time}}" required>
                </div>
                <!-- Cook time -->
                <div class="input-field col s12 m6">
                    <h6 class="edit-recipe-headers">Cooking time</h6>
                    <input placeholder="* Cooking time..." id="recipe_cook_time" name="recipe_cook_time" type="text"
                        class="validate" value="{{recipes.recipe_cook_time}}" required>
                </div>
                <!-- Servings -->
                <div class="input-field col s12 m6">
                    <h6 class="edit-recipe-headers">Servings</h6>
                    <input placeholder="* Recipe servs..." id="recipe_serves" name="recipe_serves" type="text"
                        class="validate" value="{{recipes.recipe_serves}}" required>
                </div>
                <!-- Difficulty -->
                <div class="input-field col s12 m6">
                    <h6 class="edit-recipe-headers">Difficulty</h6>
                    <select id="recipe_difficulty" name="recipe_difficulty" required>
                        {% set _stub = skillLevel.rewind() %}
                        {% for skill in skillLevel %}
                        {% if recipes.recipe_difficulty == skill.recipe_difficulty %}
                        <option value="{{skill.recipe_difficulty}}" selected>{{skill.recipe_difficulty}}</option>
                        {%else%}
                        <option value="{{skill.recipe_difficulty}}">{{skill.recipe_difficulty}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Add image -->
            <div class="row">
                <div class="input-field col s12">
                    <h6 class="edit-recipe-headers">Recipe image URL</h6>
                    <input placeholder="* Copy image location (http(s)://...) and paste it here" id="recipe_image"
                        name="recipe_image" type="text" class="validate" value="{{recipes.recipe_image}}" required>
                </div>
            </div>

            <!-- Add ingredients -->
            <div class="row">
                <div class="col s12">
                    <h6 class="edit-recipe-headers">Recipe ingredients</h6>
                    <div id="ingredients">
                        {% for item in recipes.recipe_ingredients %}
                        {% if item == recipes.recipe_ingredients[0] %}
                        <div class="input-field col s11">
                            <input required placeholder="* 500 gram pasta" id="recipe_ingredients"
                                name="recipe_ingredients" type="text" value="{{item}}" class="validate">
                        </div>
                        {% else %}
                        <div class="new-ingredient">
                            <div class="input-field col s11">
                                <input type="text" id="recipe_ingredients" name="recipe_ingredients" class="validate"
                                    value="{{item}}" required>
                            </div>
                            <div class="col s1">
                                <a id="remove_ingredient" class="btn-floating waves-effect waves-light"><i
                                        class="material-icons">remove</i></a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col s12">
                        <!--TODO check the btn-form and method-btn -->
                        <a class="btn btn-form" id="add_ingredient">Add another
                            ingredient<i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>

            <!-- Recipe method -->
            <div class="row">
                <div class="col s12">
                    <h6 class="edit-recipe-headers">Recipe method</h6>
                    <div id="steps">
                        {% for item in recipes.recipe_method %}
                        {% if item == recipes.recipe_method[0] %}
                        <div class="input-field col s11">
                            <input required placeholder="* 1 Preheat the oven to 190 degrees C)." id="recipe_method"
                                name="recipe_method" type="text" value="{{item}}" class="validate">
                        </div>
                        {% else %}
                        <div class="new-method-step">
                            <div class="input-field col s11">
                                <input placeholder="* Next step..." id="recipe_method" name="recipe_method" type="text"
                                    class="validate" value="{{item}}" required>
                            </div>
                            <div class="col s1">
                                <a class="btn-floating waves-effect waves-light" id="remove_method_step"><i
                                        class="material-icons">remove</i></a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col s12">
                        <a class="btn btn-form" id="add_method_step">Add another step<i
                                class="material-icons">add</i></a>
                    </div>
                </div>
            </div>

            <!-- Recipe tags -->
            <div class="row">
                <h6 class="edit-recipe-headers">Recipe Tags</h6>
                <input name="recipe_tags"
                    value="{% if item !=' ' %}{% for item in recipes.recipe_tags %} {{item}},{% endfor %}{% endif %}"
                    type="hidden">
                <div class="chips"></div>
            </div>

            <!-- Add to favourites -->
            <!--TODO CHANGE THIS TO BE ADD TO FAVOURITES NOT TO "SLIDER"!-->
            <input id="author_name" type="hidden" class="validate" name="author_name" value="{{recipes.author_name}}"
                required disabled>
            <div class="row">
                <div class="col s12">
                    <h6 class="edit-recipe-headers" for="featured_recipe">Featured on the Homepage Slider</h6>
                    <div class="switch">
                        {% if recipes.featured_recipe == 'on' %}
                        <label>
                            Off
                            <input type="checkbox" name="featured_recipe" id="featured_recipe" checked="checked">
                            <span class="lever"></span>
                            On
                        </label>
                        {% else %}
                        <label>
                            Off
                            <input type="checkbox" name="featured_recipe" id="featured_recipe">
                            <span class="lever"></span>
                            On
                        </label>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Update button -->
            <div class="row center col s12">
                <button class="btn-form btn waves-effect waves-light" type="submit" name="action">Update
                    Recipe
                    <i class="material-icons right">playlist_add</i>
                </button>
            </div>
        </form>
    </div>
</div>
{% else %}
<h5 class="center">Login to Add a Recipe </h5>
<p class="center"><a href="{{url_for('login')}}">Login</a></p>
{% endif %}
