{% extends 'base.html' %}
{% block content %}
<!-- top image -->
<div class="top-image-home container"></div>
<!-- text section home -->
<div class="container background-light-gray">
    <div class="row">
        <div class="col s12">
            {% if session.logged_in %}
            <h1 class="title-home">welcome {{session.username|capitalize}}!</h1>
            <h2 class="subtitle-home">- Your personalized cookbook -</h2>
            {% else %}
            <h1 class="title-home">FOODictionary</h1>
            <h2 class="subtitle-home">- Your personalized cookbook -</h2>
            {% endif %}
        </div>
    </div>
</div>


<!-- Section: Tags -->
<div class="container">
    <div class="row">
        <div class="col s12 center tags-whitespace">
            <h5 class="tags-header-whitespace">Popular tags</h5>
            {% set _stub = recipes.rewind() %}
            <!--Limit no of Tags displayed -->
            {% for items in tags[0:20] %}
            {% if items !="" %}
            <div class="chip">
                <a href="{{url_for('tag_search', tag=items, page=1)}}">{{items}}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<!-- Section: Search -->
<div id="search" class=" container section section-search search-background darken-1 white-text center scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="search-recipes">Search Recipes</h3>
                <div class="input-field">
                    <form action="{{url_for('receive_keyword', page=1)}}" id="search-form" method="post" target="_top">
                        <input class="radius white grey-text autocomplete" id="search-text" name="keyword"
                            placeholder="Search for Recipe's, Tags or Ingredients..." type="text" />
                        <button class="search-whitespace waves-effect waves-light btn-small" id="search-button"
                            type="submit">
                            <i class="material-icons no-margin right">search</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section: Categories -->
<div class="container">
    <div class="row">
        <div class="col s12 center tags-whitespace">

            <div class="row">
                <div class="col s2">
                    <a href="{{url_for('browse_recipes', recipe_category_name = 'Starter', page=1)}}"><img
                            src="/static/images/categories/starter.png" alt="Starters">
                        <p class="uppercase smaller-scr-size">starter</p>
                    </a>
                </div>
                <div class="col s2">
                    <a href="{{url_for('browse_recipes', recipe_category_name = 'Breakfast', page=1)}}"><img
                            src="/static/images/categories/breakfast.png" alt="Breakfast">
                        <p class="uppercase smaller-scr-size">breakfast</p>
                    </a>
                </div>
                <div class="col s2">
                    <a href="{{url_for('browse_recipes', recipe_category_name = 'Lunch', page=1)}}"><img
                            src="/static/images/categories/lunch.png" alt="Lunch">
                        <p class="uppercase smaller-scr-size">lunch</p>
                    </a>
                </div>
                <div class="col s2">
                    <a href="{{url_for('browse_recipes', recipe_category_name = 'Main-Course', page=1)}}"><img
                            src="/static/images/categories/main-course.png" alt="Main">
                        <p class="uppercase smaller-scr-size">main course</p>
                    </a>
                </div>
                <div class="col s2">
                    <a href="{{url_for('browse_recipes', recipe_category_name = 'Dessert', page=1)}}"><img
                            src="/static/images/categories/dessert.png" alt="Dessert">
                        <p class="uppercase smaller-scr-size">dessert</p>
                    </a>
                </div>
                <div class="col s2">
                    <a href="{{url_for('browse_recipes', recipe_category_name = 'Snack', page=1)}}"><img
                            src="/static/images/categories/snack.png" alt="Snack">
                        <p class="uppercase smaller-scr-size">snack</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
