{% extends 'base.html' %}
{% block content %}
<section class="top-section-home">
    <div class="top-grid">
        {% if session.logged_in %}
        <h1 class="title">Welcome {{session.username|capitalize}}!</h1>
        <h2 class="subtitle">- Your personalized cookbook -</h2>
        {% else %}
        <h1 class="title">FOODictionary</h1>
        <h2 class="subtitle">- Your personalized cookbook -</h2>
        {% endif %}
    </div>

</section>
<!--! random meal section -->
<section class="rm-grid" id="rm">
    <h4 class="rm-title">random recipe generator</h4>
    <p class="rm-text">Are you out of ideas? <br>Let the random recipe generator find one for you.</p>
    <a id="get_meal" href="#meal" class="button btn btn-surprise">Generate meal!</a>
    <!-- Button to make the request to the API -->
    <section class="random-meal-section" id="meal"></section> <!-- The API data is sent to this div container -->
</section>

{% endblock %}
