{% extends 'base.html' %} {% block content %}
{% if session['logged_in'] %}

<!-- top image -->
<div class="top-image-my-recipes container"></div>
<div class="container">
    <!-- title of page-->
    <h5 class="form-title">my recipes</h5>

    {% if count_recipes == 0 %}
    <p class="center">You don't have any recipes yet. Why don't you <a href="{{url_for('add_recipe')}}">add one</a> now!
    </p>
    {% else %}

    <!--Details on Total number of Recipes and Pagination-->
    <div class="row">
        <div class="col s12">
            <p class="center num-of-recipes">
                My {{count_recipes}} Recipe(s). Page {{ page }} of {{total_no_of_pages}}
            </p>
        </div>
        {% if total_no_of_pages <= 1 %}
        <div class="col s12">
        </div>
        {% else %}
        <div class="col s12">
            <ul class="pagination right-align">
                <li id="prev-page-url" {% if page|int > 1 %} class="" {% else %} class="disabled" {% endif %}>
                    <a {% if page|int > 1 %} href="{{url_for('my_recipes', author_name=author_name, page=page|int-1)}}"
                        {% endif %}>
                        <i class="material-icons">chevron_left</i>Prev</a>
                </li>
                <!-- TODO set the correct url_for 'my_favorite_recipes.html -->
                <li id="next-page-url" {% if page|int != total_no_of_pages|int %}class="" {% else %} class="disabled"
                    {% endif %}>
                    <a {% if page|int != total_no_of_pages|int %}
                        href="{{url_for('my_recipes', author_name=author_name, page=page|int+1)}}" {% endif %}>Next<i
                            class="material-icons">chevron_right</i></a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>

    <!-- Recipe cards (Materilize) -->

    <div class="row">
        <div class="col s12 m12">
            {% for recipe in recipes %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="{{url_for('recipe_page', recipe_id = recipe._id)}}"><img src="{{recipe.recipe_image}}"
                                alt="{{recipe.recipe_name}}"></a>
                        <!--TODO set the function() for favorites here and in app.py -->
                        <a href="#" class="halfway-fab btn-floating pink pulse">
                            <i class="material-icons">favorite</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title card-span">{{recipe.recipe_name}}</span>
                        <p>
                            {{recipe.recipe_description}}
                        </p>
                        <span class="recipe-author">Recipe added by: {{recipe.author_name}}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{url_for('recipe_page', recipe_id = recipe._id)}}">View Recipe</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
<!-- This belongs to the if-statement above the cards! -->
{% endif%}
{% else %}
<p>You must be logged in to edit a recipe </p>
{% endif %}

{% endblock %}
