{% extends 'base.html' %}
{% block content %}

<!-- random meal section -->
<div class="random-meal-body">
    <div class="top-image-random-meal container"></div>

    <!-- title of page-->
    <h5 class="form-title recipe-name">random recipe generator</h5>
    <div class="row" id="rm">
        <div class="col s12">
            <p class="center color">Are you out of ideas? <br>Let the random recipe generator find one for you.</p>
        </div>
        <div class="col s12 center">
            <a id="get_meal" href="#meal" class="btn-small btn waves-effect waves-light">Generate
                meal!</a>
            <!-- Button to make the request to the API -->
        </div>
    </div>
</div>
<!-- The API data is sent to this div container -->
<section id="meal"></section>

{% endblock %}
