{% extends 'base.html' %} {% block content %}
<!-- top image -->
<div class="top-image-my-recipes"></div>
<div class="container container-width">
    <!-- title of page-->
    <h5 class="form-title recipe-name">{{recipe.recipe_name}}</h5>

    <!-- Recipe info-->
    <div class="row recipe-info">

        <!-- Go to Edit my recipe page -->
        <div class="col s12 m3 center edit-bg">
            {% if (session['logged_in'] and user.username == recipe.author_name) %}
            <a href="{{url_for('edit_recipe', recipe_id = recipe._id)}}">
                <p><i class="material-icons small edit-recipe">edit</i></p>
                <div class="info-fonts edit-recipe">edit recipe</div>
            </a>
            {% endif %}
        </div>

        <!-- Recipe image from DB -->
        <div class="col s12 m6">
            <img class="recipe-img margin-bottom" src="{{recipe.recipe_image}}" alt="{{recipe.recipe_name}}">
            <div class="col s12 center">
                <!--TODO add url_for "recipe_favorite" see app.py line 295 -->
                {% if recipe.favorite != true %}
                <a href="{{url_for('add_favorite_recipe', recipe_id = recipe._id, page = page)}}"
                    class="halfway-fab btn-floating">
                    <i class="material-icons">add</i>
                </a>
                {% else %}
                <a href="{{url_for('remove_favorite_recipe', recipe_id = recipe._id, page = page)}}"
                    class="halfway-fab btn-floating pink">
                    <i class="material-icons">remove</i>
                </a>
                {% endif %}
                <div class="info-fonts add-to-favorite">add to favorite's</div>
            </div>
        </div>

        <!-- Delete this recipe -->
        <div class="col s12 m3 center delete-bg">
            {% if (session['logged_in'] and user.username == recipe.author_name) %}
            <form action="{{ url_for('delete_recipe', recipe_id = recipe._id) }}" method="post">
                <p><i class="material-icons small delete_recipe">delete</i>
                </p>
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" class="info-fonts delete_recipe" value="Delete Recipe" />
            </form>
            {% endif %}
        </div>
        <div class="col s12 recipe-author center">Recipe added by: {{recipe.author_name}}</div>
    </div>
    <div class="row">
        <div class="col s12 info-row">
            <div class="row ">
                <!-- Prep time -->
                <div class="col s4 m2 center">
                    <div>
                        <i class="material-icons category-margin">timer</i>
                    </div>
                    <div class="info-fonts letter-spacing">Prep Time:</div>
                    <div class="info-rec">{{recipe.recipe_prep_time}}</div>
                </div>
                <!-- Cook time -->
                <div class="col s4 m2 center">
                    <div>
                        <i class="material-icons category-margin">watch_later</i>
                    </div>
                    <div class="info-fonts letter-spacing">Cook Time:</div>
                    <div class="info-rec">{{recipe.recipe_cook_time}}</div>
                </div>
                <!-- Servs -->
                <div class="col s4 m2 center">
                    <div>
                        <i class="material-icons category-margin">local_dining</i>
                    </div>
                    <div class="info-fonts letter-spacing">Servs:</div>
                    <div class="info-rec">{{recipe.recipe_serves}}</div>
                </div>
                <!-- Servs -->
                <div class="col s4 m2 center">
                    <div>
                        <i class="material-icons category-margin">trending_up</i>
                    </div>
                    <div class="info-fonts letter-spacing">Difficulty:</div>
                    <div class="info-rec">{{recipe.recipe_difficulty}}</div>
                </div>
                <!-- Allergens -->
                <div class="col s4 m2 center">
                    <div>
                        <i class="material-icons category-margin">priority_high</i>
                    </div>
                    <div class="info-fonts letter-spacing">Allergens:</div>
                    <div class="info-rec">{% for items in recipe.allergen_type %}
                        {{items}},
                        {% endfor %}</div>
                </div>
                <!-- Category -->
                <div class="col s4 m2 center">
                    <div>
                        <i class="material-icons category-margin">menu</i>
                    </div>
                    <div class="info-fonts letter-spacing">Category:</div>
                    <div class="info-rec">{{recipe.recipe_category_name}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-background">
        <!-- Recipe tags -->
        <div class="col s12 center">
            <h5 class="form-subtitle">Recipe Tags </h5>
            {% for items in recipe.recipe_tags %}
            {% if items !="" %}
            <div class="chip">
                <a href="{{url_for('search_tag',tag=items, page=1)}}">{{items}}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <!-- Recipe ingredients -->
        <div class="col s12 l4 recipe-padding">
            <h5 class="form-subtitle position-ingredients">Ingredients</h5>
            <ul class="ul-style">
                {% for items in recipe.recipe_ingredients %}
                <li>{{items}}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Recipe method -->
        <div class="col s12 l8 recipe-padding">
            <h5 class="form-subtitle position-method">Method</h5>
            <ol class="ol-recipe">
                {% for items in recipe.recipe_method %}
                <li>{{items}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}
